/*
0 - 600px:      Phone
600 - 900:      Tablet Portrait
900 - 1200px:   Tablet Landscape
1200 - 1800:    Standard Desktop where normal styles apply
1800px + :      Big Desktop

- phone         600px / 16px = 37.5em
- tab-port      900px / 16px = 56.25em
- tab-land      1200px / 16px = 75em
- big-desktop   1800px / 16px = 112.5em
*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

@media (max-width: 37.5em) {
  html {
    font-size: 30%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.container {
  background-color: white;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flicker {
  0% {
    color: white;
    background-color: white;
  }
  1% {
    color: white;
    background-color: #1c1919;
  }
  2% {
    color: white;
    background-color: white;
  }
  3% {
    color: white;
    background-color: #1c1919;
  }
  95% {
    color: white;
    background-color: #1c1919;
  }
  96% {
    color: white;
    background-color: white;
  }
  97% {
    color: white;
    background-color: #1c1919;
  }
  98% {
    color: white;
    background-color: white;
  }
  99% {
    color: white;
    background-color: #1c1919;
  }
  100% {
    color: transparent;
    background-color: transparent;
  }
}

.nav__logo {
  font-size: 2.5rem;
  font-weight: 500;
  list-style: none;
  padding: 0 2rem;
  opacity: 0;
}

@media (max-width: 37.5em) {
  .nav__logo {
    font-size: 2rem;
    padding-right: 2rem;
  }
}

.nav__item {
  font-size: 1.8rem;
  font-weight: 300;
  list-style: none;
  padding: 0 2rem;
  opacity: 0;
}

@media (max-width: 37.5em) {
  .nav__item {
    font-size: 1.5rem;
    padding: 0 0.5rem;
  }
}

.nav a {
  text-decoration: none;
  color: #666565;
}

.welcome__text {
  position: absolute;
  left: 0%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: left;
  color: transparent;
  background-color: transparent;
  border-radius: 15px;
  padding: 5rem;
  opacity: 1;
  animation: flicker 6s;
}

@media (max-width: 56.25em) {
  .welcome__text {
    border-radius: 0;
  }
}

@media (max-width: 37.5em) {
  .welcome__text {
    border-radius: 0;
    padding: 2rem;
  }
}

.welcome__text--main, .welcome__text--intro {
  font-size: 5rem;
  font-weight: 100;
}

@media (max-width: 37.5em) {
  .welcome__text--main, .welcome__text--intro {
    font-size: 3rem;
  }
}

.about__header {
  text-align: center;
}

h2 {
  font-size: 3rem;
  font-weight: 100;
}

@media (max-width: 37.5em) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 37.5em) {
  h3 {
    font-size: 1.8rem;
  }
}

h4 {
  font-size: 1.8rem;
  font-weight: normal;
  margin-bottom: 0.25rem;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.2rem;
  text-align: center;
  padding: 2rem;
  color: grey;
}

@media (max-width: 37.5em) {
  .footer {
    font-size: 1rem;
    flex-direction: column;
  }
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  opacity: 1;
  z-index: 3;
}

.nav-holder {
  background-color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5vh;
  background-color: white;
  border-radius: 1rem;
  padding: 3rem 2rem;
}

.appear {
  animation: appear 3s ease-out 3s;
  animation-fill-mode: forwards;
}

.welcome {
  position: relative;
  width: 85vw;
  height: 85vh;
  margin: auto;
  background: url(../../../img/anger_flipped.png);
  background-position: right 0 top 0;
  background-size: cover;
  border-radius: 1rem;
}

.welcome__art-label {
  position: absolute;
  bottom: 0;
  left: 0;
}

.welcome__scroll--label {
  position: absolute;
  bottom: -0.4rem;
  right: 1rem;
  font-size: 1.75rem;
  opacity: 0;
  transition: all ease-out 1s;
}

@media (max-width: 37.5em) {
  .welcome__scroll--label {
    display: none;
  }
}

@media (max-width: 56.25em) {
  .welcome {
    height: 60vh;
    border-radius: 0;
  }
}

@media (max-width: 37.5em) {
  .welcome {
    height: 40vh;
    border-radius: 0;
  }
}

.fade {
  color: transparent;
}

.cursor {
  border-right: 0.3rem solid #777;
}

.about {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-size: 1.75rem;
  color: #666565;
  padding: 8rem 20rem 0 20rem;
}

@media (max-width: 75em) {
  .about {
    padding: 2.5rem 15rem;
  }
}

@media (max-width: 56.25em) {
  .about {
    padding: 2.5rem 8rem;
  }
}

@media (max-width: 37.5em) {
  .about {
    padding: 3rem;
  }
}

@media (min-width: 112.5em) {
  .about {
    padding: 0 25rem;
  }
}

.skills {
  box-sizing: border-box;
  font-size: 1.75rem;
  color: #666565;
  padding: 2.5rem 20rem 5rem 20rem;
}

@media (max-width: 75em) {
  .skills {
    padding: 2.5rem 15rem;
  }
}

@media (max-width: 56.25em) {
  .skills {
    padding: 0 8rem;
  }
}

@media (max-width: 37.5em) {
  .skills {
    padding: 0 3rem;
  }
}

@media (min-width: 112.5em) {
  .skills {
    padding: 5rem 25rem;
  }
}

.skills__header {
  text-align: center;
}

.skills__list {
  display: flex;
  justify-content: space-around;
  padding: 3rem;
  list-style: none;
}

.skills__icon svg {
  width: 3rem;
  height: 3rem;
}

@media (max-width: 37.5em) {
  .skills__icon svg {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.skills__icon--html {
  fill: #e34f26;
}

.skills__icon--css {
  fill: #1572b6;
}

.skills__icon--sass {
  fill: #cc6699;
}

.skills__icon--js {
  fill: #f7df1e;
}

.skills__icon--react {
  fill: #61dafb;
}

.skills__icon--ts {
  fill: #3178c6;
}

.skills__icon--git {
  fill: #f05032;
}

.projects {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #666565;
  margin: 0 auto;
  padding: 0 20rem;
}

@media (max-width: 75em) {
  .projects {
    padding: 2.5rem 15rem;
  }
}

@media (max-width: 56.25em) {
  .projects {
    padding: 0 8rem;
  }
}

@media (max-width: 37.5em) {
  .projects {
    padding: 0 3.5rem;
  }
}

@media (min-width: 112.5em) {
  .projects {
    padding: 0 25rem;
  }
}

.projects__header--text {
  text-align: center;
}

.projects__main--header {
  text-align: center;
}

.projects__main--image {
  display: block;
  width: 100%;
  margin: 5rem auto 10rem auto;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);
  transition: all ease-in 0.2s;
}

@media (max-width: 37.5em) {
  .projects__main--image {
    margin: 5rem auto 5rem auto;
  }
}

.projects__main--image:hover {
  transform: scale(1.01);
}

.projects__main--description {
  font-size: 1.75rem;
}

.projects__tiles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 5rem;
}

@media (min-width: 112.5em) {
  .projects__tiles {
    padding: 5rem 0;
  }
}

@media (max-width: 37.5em) {
  .projects__tiles {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
}

.projects__tiles--image-1, .projects__tiles--image-2, .projects__tiles--image-3, .projects__tiles--image-4 {
  width: 100%;
  margin-top: 1rem;
  border-radius: 5px;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.projects__tiles--image-1:hover, .projects__tiles--image-2:hover, .projects__tiles--image-3:hover, .projects__tiles--image-4:hover {
  transform: scale(1.015);
}

.projects__tiles--header-1, .projects__tiles--header-2, .projects__tiles--header-3, .projects__tiles--header-4 {
  text-align: center;
}

.contact {
  height: auto;
  width: auto;
  padding: 12rem 20rem 5rem 20rem;
}

@media (max-width: 75em) {
  .contact {
    padding: 2.5rem 15rem;
  }
}

@media (max-width: 56.25em) {
  .contact {
    padding: 3.5rem 8rem;
  }
}

@media (max-width: 37.5em) {
  .contact {
    padding: 3rem;
  }
}

@media (min-width: 112.5em) {
  .contact {
    padding: 0 25rem;
  }
}

.contact__header {
  text-align: center;
}

.contact__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 3rem 3rem 5rem 3rem;
}

.contact__icon svg {
  width: 3rem;
  height: 3rem;
}

@media (max-width: 56.25em) {
  .contact__icon svg {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media (max-width: 37.5em) {
  .contact__icon svg {
    width: 2.25rem;
    height: 2.25rem;
  }
}

.contact__icon--email,
.contact__icon svg--email,
.contact__icon a--email {
  fill: #ea4335;
}

.contact__icon--github,
.contact__icon svg--github,
.contact__icon a--github {
  fill: #181717;
}

.contact__icon--linkedin,
.contact__icon svg--linkedin,
.contact__icon a--linkedin {
  fill: #0a66c2;
}

.contact__icon--twitter,
.contact__icon svg--twitter,
.contact__icon a--twitter {
  fill: #1da1f2;
}

.contact__icon--phone,
.contact__icon svg--phone,
.contact__icon a--phone {
  fill: #25d366;
}

.logviewer {
  display: flex;
  flex-direction: column;
  font-size: 1.75rem;
  line-height: 150%;
  padding: 10rem 25rem 0 25rem;
}

@media (max-width: 75em) {
  .logviewer {
    padding: 2.5rem 15rem;
  }
}

@media (max-width: 56.25em) {
  .logviewer {
    padding: 2.5rem 8rem;
  }
}

@media (max-width: 37.5em) {
  .logviewer {
    padding: 3rem;
  }
}

@media (min-width: 112.5em) {
  .logviewer {
    padding: 0 25rem;
  }
}

.logviewer__header {
  text-align: center;
  margin: 5rem 0;
}

@media (max-width: 37.5em) {
  .logviewer__header {
    margin: 2rem 0;
  }
}

.logviewer__image--screenshot {
  width: 100%;
  margin: 2.5rem auto;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);
}

.logviewer__image--figma {
  width: 50%;
  margin-right: 3rem;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);
}

@media (max-width: 56.25em) {
  .logviewer__image--figma {
    width: 80%;
    margin: auto;
  }
}

.logviewer__image--flowchart {
  width: 50%;
  margin-left: 3rem;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);
}

@media (max-width: 56.25em) {
  .logviewer__image--flowchart {
    width: 80%;
    margin: auto;
  }
}

.section__tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5rem 0;
}

@media (max-width: 56.25em) {
  .section__tools {
    flex-direction: column-reverse;
  }
}

@media (max-width: 37.5em) {
  .section__tools {
    margin: 2rem 0;
  }
}

.section__tools--content {
  display: flex;
  flex-direction: column;
}

.section__middle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 56.25em) {
  .section__middle {
    flex-direction: column;
  }
}

.section__middle--text {
  display: flex;
  flex-direction: column;
}

.disclaimer {
  font-size: 1rem;
  margin-top: 3rem;
}
