html {
  font-size: 62.5%; }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 52%; } }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: black; }

h1 {
  font-size: 5rem;
  font-weight: 100; }

h2 {
  font-size: 3rem;
  font-weight: 100; }

h3 {
  font-size: 2rem;
  font-weight: normal; }

h4 {
  font-size: 1.8rem;
  font-weight: normal;
  margin-bottom: 0.25rem; }

p {
  margin-top: 0.5rem;
  margin-bottom: 0.75rem; }

ul {
  margin: 0; }

.container {
  background-color: white; }

.header {
  position: sticky;
  opacity: 1;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 3; }

.nav-holder {
  background-color: white; }

.nav {
  height: 2.5vh;
  display: flex;
  justify-content: space-between;
  padding: 3rem 2rem;
  background-color: white;
  border-radius: 1rem;
  align-items: center; }
  .nav__logo {
    font-size: 2.5rem;
    font-weight: 500;
    list-style: none;
    padding: 0 2rem;
    opacity: 0; }
  .nav .nav__item {
    font-size: 1.8rem;
    font-weight: 300;
    list-style: none;
    padding: 0 2rem;
    opacity: 0; }

.appear {
  animation: appear 3s ease-out 3s;
  animation-fill-mode: forwards; }

@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.welcome {
  height: 85vh;
  width: 95vw;
  margin: auto;
  border-radius: 1rem;
  background-size: cover;
  background-position: right 0 top 0;
  position: relative;
  justify-content: center;
  background-image: url(../img/plants-SML.jpg); }
  .welcome__text {
    box-sizing: border-box;
    position: absolute;
    top: 55%;
    left: 0%;
    transform: translate(0%, -55%);
    height: 100%;
    width: 100%;
    padding: 0 5rem;
    background-color: transparent;
    color: black;
    border-radius: 15px;
    opacity: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    animation: flicker 6s; }
    .welcome__text--main, .welcome__text--intro {
      font-size: 5rem;
      font-weight: 100; }
  .welcome__scroll--label {
    position: absolute;
    bottom: 0.2rem;
    right: 1rem;
    font-size: 1.5rem;
    opacity: 0;
    transition: all ease-out 1s; }

.fade {
  transform: translateX(-100px);
  color: transparent; }

@keyframes flicker {
  0% {
    color: blanchedalmond;
    background-color: white; }
  1% {
    color: blanchedalmond;
    background-color: #1c1919; }
  2% {
    color: blanchedalmond;
    background-color: white; }
  3% {
    color: blanchedalmond;
    background-color: #1c1919; }
  95% {
    color: blanchedalmond;
    background-color: #1c1919; }
  96% {
    color: blanchedalmond;
    background-color: white; }
  97% {
    color: blanchedalmond;
    background-color: #1c1919; }
  98% {
    color: blanchedalmond;
    background-color: white; }
  99% {
    color: blanchedalmond;
    background-color: #1c1919; }
  100% {
    color: black;
    background-color: transparent; } }

.cursor {
  border-right: 0.3rem solid #777; }

.about {
  display: flex;
  flex-direction: column;
  padding: 10rem 15rem 0 15rem;
  font-size: 1.5rem;
  box-sizing: border-box;
  color: #666565; }
  .about__header {
    text-align: center; }

.skills {
  padding: 5rem 15rem;
  font-size: 1.5rem;
  box-sizing: border-box;
  color: #666565; }
  .skills__header {
    text-align: center; }
  .skills__list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 3rem 3rem 5rem 3rem; }
  .skills__icon svg {
    height: 3rem;
    width: 3rem; }
  .skills__icon--html {
    fill: #e34f26; }
  .skills__icon--css {
    fill: #1572b6; }
  .skills__icon--sass {
    fill: #cc6699; }
  .skills__icon--js {
    fill: #f7df1e; }
  .skills__icon--react {
    fill: #61dafb; }
  .skills__icon--ts {
    fill: #3178c6; }
  .skills__icon--git {
    fill: #f05032; }

.projects {
  position: relative;
  padding: 5rem 15rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: #666565; }
  .projects__header--text {
    text-align: center; }
  .projects__main--header {
    text-align: center; }
  .projects__main--image {
    width: 60vw;
    margin: auto;
    box-shadow: 8px 16px 16px rgba(0, 0, 0, 0.25); }
  .projects__main--description {
    font-size: 1.5rem; }
  .projects__tile {
    display: grid;
    transform-origin: 0;
    transform: translateZ(3px) scale(0.625); }
    .projects__tile--1 {
      width: 30vw;
      align-self: flex-start; }
    .projects__tile--2 {
      width: 30vw;
      align-self: flex-end; }
    .projects__tile--3 {
      width: 30vw;
      align-self: flex-start; }
    .projects__tile--4 {
      width: 30vw;
      align-self: flex-end; }
  .projects__tile--image-1, .projects__tile--image-2, .projects__tile--image-3, .projects__tile--image-4 {
    max-width: 100%;
    object-fit: contain;
    border-radius: 5px; }
  .projects__tile--header-1, .projects__tile--header-2, .projects__tile--header-3, .projects__tile--header-4 {
    font-size: 1.5rem;
    padding-left: 2rem; }

svg {
  z-index: 100; }

.contact {
  height: auto;
  width: auto;
  padding: 12rem 20rem 5rem 20rem;
  color: #666565; }
  .contact__header {
    text-align: center; }
  .contact__list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 3rem 3rem 5rem 3rem; }
  .contact__icon svg {
    width: 3rem;
    height: 3rem; }
  .contact__icon--email {
    fill: #ea4335; }
  .contact__icon--github {
    fill: #181717; }
  .contact__icon--linkedin {
    fill: #0a66c2; }
  .contact__icon--twitter {
    fill: #1da1f2; }
  .contact__icon--react {
    fill: #25d366; }

.footer {
  font-size: 1.2rem;
  padding: 2rem;
  color: grey; }
