$primary-color-light: #f8f1f1;
$primary-color-dark: #2c3e50;
$color-bluegrey: #778ca3;
$border-color: rgb(175, 172, 172);
$bg-color: white;

html {
	//This defines what 1rem is
	font-size: 62.5%; //1rem = 10px; 10px / 16px = 62.5%

	@media only screen and (max-width: 900px) {
		font-size: 52%;
	}
}
body {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

h1 {
	font-size: 5rem;
	font-weight: 100;
}

h2 {
	font-size: 3rem;
	font-weight: 100;
}

h3 {
	font-size: 2rem;
	font-weight: normal;
}

h4 {
	font-size: 1.8rem;
	font-weight: normal;
	margin-bottom: 0.25rem;
}

p {
	margin-top: 0.5rem;
	margin-bottom: 0.75rem;
}

ul {
	margin: 0;
}

.container {
	background-color: $bg-color;
}

.header {
	position: sticky;
	opacity: 1;
	top: 0;
	width: 100%;
	background-color: $bg-color;
	z-index: 3;
}

.nav-holder {
	background-color: $bg-color;
}

.nav {
	height: 2.5vh;
	display: flex;
	justify-content: space-between;
	padding: 3rem 2rem;
	background-color: $bg-color;
	border-radius: 1rem;
	align-items: center;

	&__logo {
		font-size: 2.5rem;
		font-weight: 500;
		list-style: none;
		padding: 0 2rem;
		opacity: 0;
	}

	.nav__item {
		font-size: 1.8rem;
		font-weight: 300;
		list-style: none;
		padding: 0 2rem;
		opacity: 0;
	}
}

.appear {
	animation: appear 3s ease-out 3s;
	animation-fill-mode: forwards;
}

@keyframes appear {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.welcome {
	height: 85vh;
	width: 95vw;
	margin: auto;
	border-radius: 1rem;
	background-size: cover;
	background-position: right 0 top 0;
	position: relative;
	justify-content: center;
	background-image: url(../img/plants-SML.jpg);

	&__text {
		box-sizing: border-box;
		position: absolute;
		top: 55%;
		left: 0%;
		transform: translate(0%, -55%);
		height: 100%;
		width: 100%;
		padding: 0 5rem;
		background-color: transparent;
		color: black;
		border-radius: 15px;
		opacity: 1;
		text-align: left;
		display: flex;
		flex-direction: column;
		animation: flicker 6s;

		&--main,
		&--intro {
			font-size: 5rem;
			font-weight: 100;
		}
	}

	&__scroll--label {
		position: absolute;
		bottom: 0.2rem;
		right: 1rem;
		font-size: 1.5rem;
		opacity: 0;
	}
}

//Flicker animation for landing page background
@keyframes flicker {
	0% {
		color: blanchedalmond;
		background-color: white;
	}
	1% {
		color: blanchedalmond;
		background-color: rgb(28, 25, 25);
	}
	2% {
		color: blanchedalmond;
		background-color: white;
	}
	3% {
		color: blanchedalmond;
		background-color: rgb(28, 25, 25);
	}
	95% {
		color: blanchedalmond;
		background-color: rgb(28, 25, 25);
	}
	96% {
		color: blanchedalmond;
		background-color: white;
	}
	97% {
		color: blanchedalmond;
		background-color: rgb(28, 25, 25);
	}
	98% {
		color: blanchedalmond;
		background-color: white;
	}
	99% {
		color: blanchedalmond;
		background-color: rgb(28, 25, 25);
	}
	100% {
		color: black;
		background-color: transparent;
	}
}

.cursor {
	border-right: 0.3rem solid #777;
}

// NOTE: ABOUT SECTION
.about {
	display: flex;
	flex-direction: column;
	width: 100vw;
	// margin: 0 5rem 0 auto;
	// align-items: flex-end;
	padding: 10rem 15rem 0 15rem;
	font-size: 1.5rem;
	box-sizing: border-box;
}

// NOTE: SKILLS SECTION
.skills {
	// display: flex;
	// width: 100vw;
	padding: 5rem 15rem;
	font-size: 1.5rem;
	// flex-direction: column;
	box-sizing: border-box;

	&__list {
		display: flex;
		justify-content: space-around;
		list-style: none;
		padding: 3rem 3rem 5rem 3rem;
	}

	&__icon svg {
		height: 3rem;
		width: 3rem;
	}

	&__icon {
		&--html {
			fill: #e34f26;
		}
		&--css {
			fill: #1572b6;
		}
		&--sass {
			fill: #cc6699;
		}
		&--js {
			fill: #f7df1e;
		}
		&--react {
			fill: #61dafb;
		}
		&--ts {
			fill: #3178c6;
		}
		&--git {
			fill: #f05032;
		}
	}
}

// NOTE PROJECTS SECTION
.projects {
	position: relative;
	padding: 5rem 15rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;

	&__main {
		&--description {
			font-size: 1.5rem;
		}
	}

	&__tile {
		display: grid;
		transform-origin: 0;
		transform: translateZ(3px) scale(0.625);
		// transform-style: preserve-3d;

		//
		&--1 {
			width: 30vw;
			align-self: flex-start;
			// grid-column: 1 / 2;
			// grid-row: 2 / 5;
		}

		&--2 {
			width: 30vw;
			align-self: flex-end;
			// grid-column: 2 / 3;
			// grid-row: 4 / 7;
		}

		&--3 {
			width: 30vw;
			align-self: flex-start;
			// grid-column: 1 / 2;
			// grid-row: 6 / 9;
		}

		&--4 {
			width: 30vw;
			align-self: flex-end;
			// grid-column: 2 / 3;
			// grid-row: 8 / 11;
		}
	}

	// &__grid {
	// 	display: grid;
	// 	grid-template-columns: repeat(2, 1fr);
	// 	grid-template-rows: auto;
	// 	align-content: center;
	// 	padding: 12rem 6rem;
	// }

	&__tile--image-1,
	&__tile--image-2,
	&__tile--image-3,
	&__tile--image-4 {
		// height: auto;
		max-width: 100%;
		object-fit: contain;
		border-radius: 5px;
	}

	&__tile--header-1,
	&__tile--header-2,
	&__tile--header-3,
	&__tile--header-4 {
		font-size: 1.5rem;
		padding-left: 2rem;
	}
}

svg {
	z-index: 100;
}

// .contact {
// 	height: 85vh;
// 	width: auto;
// 	padding: 12rem 20rem 12rem 20rem;
// 	background-size: cover;
// 	background-position: center;
// }

.contact {
	height: auto;
	width: auto;
	padding: 12rem 20rem 5rem 20rem;
	// background-size: cover;
	// background-position: center;
	// display: flex;
	// flex-direction: column;
	// font-size: 1.5rem;
	// justify-content: space-around;
	// align-content: center;

	&__header {
		text-align: center;
		align-content: center;
	}

	&__list {
		display: flex;
		justify-content: space-around;
		list-style: none;
		padding: 3rem 3rem 5rem 3rem;
	}

	&__icon svg {
		width: 3rem;
		height: 3rem;
	}

	// &__icon svg {
	// 	height: 3rem;
	// 	width: 3rem;
	// }

	&__icon {
		&--email {
			fill: #ea4335;
		}
		&--github {
			fill: #181717;
		}
		&--linkedin {
			fill: #0a66c2;
		}
		&--twitter {
			fill: #1da1f2;
		}
		&--react {
			fill: #25d366;
		}
	}
}

.footer {
	font-size: 1.2rem;
	padding: 2rem;
	color: grey;
	// background-color: #1488cc;
}
