$primary-color-light: #f8f1f1;
$primary-color-dark: #2c3e50;
$color-bluegrey: #778ca3;
$border-color: rgb(175, 172, 172);
$bg-color: white;
$text-color: rgb(102, 101, 101);
$text-font: 1.75rem;

html {
	//This defines what 1rem is
	font-size: 62.5%; //1rem = 10px; 10px / 16px = 62.5%

	@media only screen and (max-width: 900px) {
		font-size: 52%;
	}
}
body {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

h1 {
	font-size: 5rem;
	font-weight: 100;
}

h2 {
	font-size: 3rem;
	font-weight: 100;
}

h3 {
	font-size: 2rem;
	font-weight: normal;
	margin: 0;
}

h4 {
	font-size: 1.8rem;
	font-weight: normal;
	margin-bottom: 0.25rem;
}

p {
	margin-top: 0.5rem;
	margin-bottom: 0.75rem;
}

ul {
	margin: 0;
}

.container {
	background-color: $bg-color;
}

// HEADER & NAVIGATION SECTION
.header {
	position: sticky;
	opacity: 1;
	top: 0;
	width: 100%;
	background-color: $bg-color;
	z-index: 3;
}

.nav-holder {
	background-color: $bg-color;
}

.nav {
	height: 2.5vh;
	display: flex;
	justify-content: space-between;
	padding: 3rem 2rem;
	background-color: $bg-color;
	border-radius: 1rem;
	align-items: center;

	&__logo {
		font-size: 2.5rem;
		font-weight: 500;
		list-style: none;
		padding: 0 2rem;
		opacity: 0;
	}

	.nav__item {
		font-size: 1.8rem;
		font-weight: 300;
		list-style: none;
		padding: 0 2rem;
		opacity: 0;
	}
}

.appear {
	animation: appear 3s ease-out 3s;
	animation-fill-mode: forwards;
}

@keyframes appear {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

// WELCOME SECTION
.welcome {
	height: 85vh;
	width: 95vw;
	margin: auto;
	border-radius: 1rem;
	background-size: cover;
	background-position: right 0 top 0;
	position: relative;
	justify-content: center;
	background-image: url(../img/plants-SML.jpg);

	&__text {
		box-sizing: border-box;
		position: absolute;
		top: 55%;
		left: 0%;
		transform: translate(0%, -55%);
		height: 100%;
		width: 100%;
		padding: 0 5rem;
		background-color: transparent;
		color: black;
		border-radius: 15px;
		opacity: 1;
		text-align: left;
		display: flex;
		flex-direction: column;
		animation: flicker 6s;

		&--main,
		&--intro {
			font-size: 5rem;
			font-weight: 100;
		}
	}

	&__scroll--label {
		position: absolute;
		bottom: 0.75rem;
		right: 1rem;
		font-size: $text-font;
		opacity: 0;
		transition: all ease-out 1s;
	}
}

.fade {
	color: transparent;
}

//Flicker animation for landing page background
@keyframes flicker {
	0% {
		color: blanchedalmond;
		background-color: white;
	}
	1% {
		color: blanchedalmond;
		background-color: rgb(28, 25, 25);
	}
	2% {
		color: blanchedalmond;
		background-color: white;
	}
	3% {
		color: blanchedalmond;
		background-color: rgb(28, 25, 25);
	}
	95% {
		color: blanchedalmond;
		background-color: rgb(28, 25, 25);
	}
	96% {
		color: blanchedalmond;
		background-color: white;
	}
	97% {
		color: blanchedalmond;
		background-color: rgb(28, 25, 25);
	}
	98% {
		color: blanchedalmond;
		background-color: white;
	}
	99% {
		color: blanchedalmond;
		background-color: rgb(28, 25, 25);
	}
	100% {
		color: black;
		background-color: transparent;
	}
}

.cursor {
	border-right: 0.3rem solid #777;
}

// ABOUT SECTION
.about {
	display: flex;
	flex-direction: column;
	// width: 100vw;
	// margin: 0 5rem 0 auto;
	// align-items: flex-end;
	padding: 10rem 25rem 0 25rem;
	font-size: $text-font;
	box-sizing: border-box;
	color: $text-color;

	&__header {
		text-align: center;
	}
}

// SKILLS SECTION
.skills {
	// display: flex;
	// width: 100vw;
	padding: 5rem 25rem;
	font-size: $text-font;
	// flex-direction: column;
	box-sizing: border-box;
	color: $text-color;

	&__header {
		text-align: center;
	}

	&__list {
		display: flex;
		justify-content: space-around;
		list-style: none;
		padding: 3rem;
	}

	&__icon svg {
		height: 3rem;
		width: 3rem;
	}

	&__icon {
		&--html {
			fill: #e34f26;
		}
		&--css {
			fill: #1572b6;
		}
		&--sass {
			fill: #cc6699;
		}
		&--js {
			fill: #f7df1e;
		}
		&--react {
			fill: #61dafb;
		}
		&--ts {
			fill: #3178c6;
		}
		&--git {
			fill: #f05032;
		}
	}
}

// PROJECTS SECTION
.projects {
	position: relative;
	padding: 0 25rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	color: $text-color;

	&__header--text {
		text-align: center;
	}

	&__main {
		&--header {
			text-align: center;
		}
		&--image {
			width: 60vw;
			display: block;
			margin: 5rem auto 10rem auto;
			box-shadow: 0 12px 12px hsla(0deg, 0%, 0%, 0.2);
			transition: all ease-in 0.2s;
		}

		&--image:hover {
			transform: scale(1.01);
		}

		&--description {
			font-size: $text-font;
		}
	}

	&__tiles {
		padding: 5rem 0;
		display: flex;
		flex-direction: row;
		gap: 5rem;
		flex-flow: row wrap;
		justify-content: center;

		&--image-1,
		&--image-2,
		&--image-3,
		&--image-4 {
			max-width: 30vw;
			border-radius: 5px;
			margin-top: 1rem;
			box-shadow: 0 12px 12px hsla(0deg, 0%, 0%, 0.2);
			transition: transform 0.2s ease-in-out;
		}

		&--image-1:hover,
		&--image-2:hover,
		&--image-3:hover,
		&--image-4:hover {
			transform: scale(1.015);
		}

		&--header-1,
		&--header-2,
		&--header-3,
		&--header-4 {
			text-align: center;
		}
	}

	&__link:hover {
		transform: translateY(-1px);
	}
}

// CONTACT SECTION
.contact {
	height: auto;
	width: auto;
	padding: 12rem 20rem 5rem 20rem;
	color: $text-color;

	&__header {
		text-align: center;
	}

	&__list {
		display: flex;
		justify-content: space-around;
		list-style: none;
		padding: 3rem 3rem 5rem 3rem;
	}

	&__icon svg {
		width: 3rem;
		height: 3rem;
	}

	&__icon {
		&--email {
			fill: #ea4335;
		}
		&--github {
			fill: #181717;
		}
		&--linkedin {
			fill: #0a66c2;
		}
		&--twitter {
			fill: #1da1f2;
		}
		&--react {
			fill: #25d366;
		}
	}
}

// FOOTER SECTION
.footer {
	font-size: 1.2rem;
	text-align: center;
	padding: 2rem;
	color: grey;
}
