$header-height: 4rem;
$section-height: 500px;
$nav-width: 20%;
$footer-height: 4rem;
$border-radius: 0.5rem;
$default-spacing: 2rem;

$gray-dark: #121519;
$gray: #a0a0a0;
$gray-light: #f3f3f3;

$indigo: #6c73dc;
$teal: #89cdce;
$lightblue: #66aee5;

// ============= GENERAL CSS ==============

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	height: 100%;
	overflow: hidden;
	color: #fff;
	background-color: $gray-dark;
	font-family: 'Montserrat', 'Roboto', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
}

ul,
ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

p {
	margin: 1rem 0;
}

// ============= MAIN LAYOUT ==============

.app {
	display: grid;
	grid-template-rows: $header-height 1fr $footer-height;
	grid-template-columns: $nav-width 1fr;
	height: 100vh;
}

.header,
.footer {
	font-size: 0.75rem;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: $gray;
}

.header {
	display: flex;
	justify-content: space-between;
	grid-column: 1 / -1;
	padding: 0 $default-spacing;
	border-bottom: 1px solid rgba(#fff, 0.1);

	&__left,
	&__right {
		display: flex;
		align-items: center;
	}
}

//NOTE
.main {
	grid-column: 1 / -1;
	padding: $default-spacing;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	perspective: 1px;

	scroll-snap-type: block proximity;
	scroll-snap-destination: 0% 100%;
	scroll-snap-points-y: repeat(100%);

	@media screen and (min-width: 1024px) {
		grid-column: 2 / -1;
	}
}

.footer {
	display: flex;
	align-items: center;
	grid-column: 1 / -1;
	padding: 0 $default-spacing;
	border-top: 1px solid rgba(#fff, 0.1);

	p {
		margin-right: 1rem;
	}

	a {
		color: #fff;
		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	&__more {
		display: none;
		margin-left: auto;
		margin-right: 0;

		@media screen and (min-width: 768px) {
			display: block;
		}
	}
}

// ============= NAVIGATION ==============

.nav {
	display: none;
	border-right: 1px solid rgba(#fff, 0.1);
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	&__item:not(:last-child) {
		border-bottom: 1px solid rgba(#fff, 0.1);
	}

	&__link {
		display: block;
		color: #fff;
		font-weight: 200;

		&:hover,
		&:focus {
			background-color: rgba(#fff, 0.035);
		}
	}

	@media screen and (min-width: 1024px) {
		display: block;
		grid-column: 1 / 2;
	}
}

// ============= PAGE SECTIONS ==============

.section {
	min-height: $section-height;
	min-height: calc(100vh - #{$header-height} - #{$footer-height});
	padding-top: ($section-height / 2) + 50;
	margin-bottom: $section-height / 2;
	position: relative;
	transform-style: preserve-3d; //NOTE
	scroll-snap-align: start;

	&__header {
		position: absolute;
		top: 50px;
		left: 0;
		right: 0;
		height: 500px;
		padding: $default-spacing;
		border-radius: $border-radius;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		text-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			bottom: 0;
			background: linear-gradient(
				to bottom,
				rgba(0, 0, 0, 0) 0%,
				rgba(0, 0, 0, 0.5) 100%
			);
		}
	}
	&__title {
		font-size: 3.5rem;
		font-weight: 200;
		margin-bottom: 0.5rem;
		line-height: 1;
	}
	&__subtitle {
		font-size: 1.5rem;
	}
	&__controls {
		display: flex;
		align-items: center;
		position: absolute;
		padding: 0 $default-spacing;
		top: 0;
		left: 0;
		right: 0;
		transform: translateY(-50%);
	}
	&__content {
		position: relative;
		z-index: 1;
		padding: 0 $default-spacing / 2;
	}

	@media screen and (min-width: 1024px) {
		margin-bottom: $section-height * 1.5;

		&__header {
			transform: translateZ(-1px) scale(1.9); //NOTE
		}
		&__content {
			padding: 0;
			transform: translateZ(0);
		}
	}
}

// ============= CONTENT BOX GRID ==============

.boxgrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-auto-rows: minmax(150px, auto);
	grid-gap: 2rem 0.5rem;

	&__item {
		display: flex;

		&--wide {
			grid-column: span 2;
		}
		&--push {
			@media screen and (min-width: 1280px) {
				grid-column: span 2;
				padding-left: 50%;
			}
		}
	}
}

// ============= CONTENT BOX ==============

.box {
	display: flex;
	flex: 1 0 0;
	position: relative;
	padding: $default-spacing;
	border-radius: $border-radius;
	font-size: 0.875rem;
	color: #fff;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
	transform: scale(1); //NOTE
	transition: all 0.25s ease;
	filter: brightness(100%);

	&:hover,
	&:focus {
		transform: scale(1.07);
		filter: brightness(110%);
		z-index: 10;
	}

	&--weather {
		background-color: $teal;
	}
	&--cost {
		background-color: $lightblue;
	}
	&--locations {
		background-color: $indigo;
	}
	&--image,
	&--video {
		padding: 0;
	}
	&--video {
		// fake a video play button
		&::before,
		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 10;
			transform: translate(-50%, -50%);
		}
		&::before {
			width: 50px;
			height: 50px;
			background-color: #fff;
			border-radius: 50%;
			box-shadow: 0 0 38px rgba(0, 0, 0, 0.3);
		}
		&::after {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 0 10px 15px;
			border-color: transparent transparent transparent $gray-dark;
			margin-left: 2px;
		}
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		object-fit: cover;
		object-position: center;
		border-radius: $border-radius;
	}
}

// ============= TOP/BOTTOM SCROLL CONTROLS ==============

.scrollctrl {
	display: none;
	justify-content: center;
	width: 50vw;
	height: 50vw;
	padding: 0;
	position: fixed;
	border-radius: 50%;
	border: 1px solid rgba(#fff, 0.1);
	color: rgba(#fff, 0.7);
	background-color: transparent;
	left: 50%;
	margin-left: -25%;

	&:hover,
	&:focus {
		background-color: rgba(#fff, 0.035);
	}

	&--prev {
		top: 0;
		padding-top: 44%;
		align-items: flex-end;
		transform: translateY(-42vw);
	}
	&--next {
		bottom: 0;
		padding-bottom: 44%;
		transform: translateY(42vw);
	}

	@media screen and (min-width: 1024px) {
		display: flex;
	}
}

// ============= MISC UTILITIES ==============

.text--large {
	font-size: 2rem;
	font-weight: 200;
}

.arrow {
	display: inline-block;
	padding: 3px;
	border-style: solid;
	border-width: 0 2px 2px 0;

	&--large {
		padding: 8px;
		border-width: 0 1px 1px 0;
	}
	&--right {
		transform: rotate(-45deg);
	}

	&--left {
		transform: rotate(135deg);
	}

	&--up {
		transform: rotate(-135deg);
	}

	&--down {
		transform: rotate(45deg);
	}
}

.media {
	display: flex;
	align-items: center;
	padding: $default-spacing;

	&__img {
		width: 60px;
		height: 60px;
		margin-right: $default-spacing / 2;
		border-radius: $border-radius / 2;
		object-position: center center;
		object-fit: cover;
	}
	&__content {
		margin: 0;
	}
}

.user {
	margin-left: auto;
	text-align: center;
	padding-top: 2rem;

	&__name {
		display: block;
		font-size: 1.5rem;
		font-weight: 200;
	}

	&__img {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		margin-bottom: 0.5rem;
		box-shadow: 0 0 38px rgba(0, 0, 0, 0.3);
	}
}

.btn {
	display: flex;
	flex: 0 0 50px;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border: 0;
	padding: 0;
	border: 1px solid transparent;
	border-radius: 50%;
	background-color: #fff;
	margin: 0 0.5rem;
}

button:focus {
	outline: 0;
	border-color: $lightblue;
	box-shadow: 0 0 0 1px $lightblue;
}
