$border-color: rgb(175, 172, 172);
$bg-color: white;
$typing-color: white;
$screen-color: rgb(28, 25, 25);
$text-color: rgb(102, 101, 101);
$text-font: 1.75rem;
$image-shadow: 0 12px 12px hsla(0deg, 0%, 0%, 0.2);
