html {
	//This defines what 1rem is
	font-size: 62.5%; //1rem = 10px; 10px / 16px = 62.5%

	@media only screen and (max-width: 900px) {
		font-size: 52%;
	}
}

body {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.container {
	background-color: $bg-color;
}
