// ABOUT SECTION
.intro {
	&__about {
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		font-size: $text-font;
		color: $text-color;
		padding: 8rem 10rem 0 10rem;

		&-header {
			text-align: right;
		}

		@include respond(tab-land) {
			padding: 2.5rem 15rem;
		}

		@include respond(tab-port) {
			padding: 2.5rem 8rem;
		}

		@include respond(phone) {
			padding: 3rem;
		}

		@include respond(big-desktop) {
			padding: 0 25rem;
		}
	}

	// SKILLS SECTION
	&__skills {
		box-sizing: border-box;
		font-size: $text-font;
		color: $text-color;
		padding: 2.5rem 10rem 5rem 10rem;

		@include respond(tab-land) {
			padding: 2.5rem 15rem;
		}

		@include respond(tab-port) {
			padding: 0 8rem;
		}

		@include respond(phone) {
			padding: 0 3rem;
		}

		@include respond(big-desktop) {
			padding: 5rem 25rem;
		}

		&-header {
			text-align: right;
		}

		&-list {
			display: flex;
			justify-content: space-around;
			padding: 3rem;
			list-style: none;
		}

		&-icon svg {
			width: 3rem;
			height: 3rem;

			@include respond(phone) {
				width: 2.5rem;
				height: 2.5rem;
			}
		}

		&-icon {
			&--html {
				fill: #e34f26;
			}
			&--css {
				fill: #1572b6;
			}
			&--sass {
				fill: #cc6699;
			}
			&--js {
				fill: #f7df1e;
			}
			&--react {
				fill: #61dafb;
			}
			&--ts {
				fill: #3178c6;
			}
			&--git {
				fill: #f05032;
			}
		}
	}
}

li {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.2rem;
}
