// WELCOME SECTION
.welcome {
	position: relative;
	width: 85vw;
	height: 85vh;
	// justify-content: center;
	margin: auto;
	// background-image: url(../img/plants-SML.jpg);
	background: url(../../../img/anger_flipped.png);
	background-position: right 0 top 0;
	background-size: cover;
	border-radius: 1rem;

	&__art-label {
		position: absolute;
		bottom: 0;
		left: 0;
	}

	&__scroll--label {
		position: absolute;
		bottom: -0.4rem;
		right: 1rem;
		font-size: $text-font;
		opacity: 0;
		transition: all ease-out 1s;

		@include respond(phone) {
			display: none;
		}
	}

	@include respond(tab-port) {
		height: 60vh;
		border-radius: 0;
	}

	@include respond(phone) {
		height: 40vh;
		border-radius: 0;
	}
}

.fade {
	color: transparent;
}

.cursor {
	border-right: 0.3rem solid #777;
}

// background-image: linear-gradient(
//   0deg,
//   hsl(345deg 100% 42%) 0%,
//   hsl(38deg 61% 53%) 14%,
//   hsl(80deg 63% 58%) 26%,
//   hsl(146deg 42% 57%) 37%,
//   hsl(195deg 52% 43%) 47%,
//   hsl(233deg 61% 42%) 54%,
//   hsl(241deg 67% 26%) 57%,
//   hsl(267deg 100% 7%) 56%
// );

// background-image: linear-gradient(
//   0deg,
//   hsl(0deg 0% 0%) 0%,
//   hsl(0deg 0% 0%) 3%,
//   hsl(0deg 0% 0%) 6%,
//   hsl(0deg 0% 0%) 10%,
//   hsl(0deg 0% 0%) 13%,
//   hsl(0deg 14% 1%) 17%,
//   hsl(0deg 12% 7%) 21%,
//   hsl(0deg 11% 12%) 25%,
//   hsl(0deg 11% 17%) 29%,
//   hsl(0deg 11% 23%) 34%,
//   hsl(4deg 11% 29%) 39%,
//   hsl(13deg 10% 37%) 44%,
//   hsl(17deg 9% 45%) 50%,
//   hsl(25deg 9% 52%) 57%,
//   hsl(32deg 8% 60%) 64%,
//   hsl(36deg 20% 66%) 71%,
//   hsl(40deg 36% 72%) 79%,
//   hsl(43deg 52% 78%) 86%,
//   hsl(47deg 68% 84%) 93%,
//   hsl(50deg 84% 90%) 100%
// );

// background-image: linear-gradient(
// 	0deg,
// 	hsl(0 0% 0%) 0%,
// 	hsl(0 0% 0%) 3%,
// 	hsl(0 0% 0%) 6%,
// 	hsl(0 0% 0%) 10%,
// 	hsl(0 0% 0%) 13%,
// 	hsl(0 14% 1%) 17%,
// 	hsl(0 12% 7%) 21%,
// 	hsl(0 11% 12%) 25%,
// 	hsl(0 11% 17%) 29%,
// 	hsl(0 11% 23%) 34%,
// 	hsl(4 11% 29%) 39%,
// 	hsl(13 10% 37%) 44%,
// 	hsl(17 9% 45%) 50%,
// 	hsl(25 9% 52%) 57%,
// 	hsl(32 8% 60%) 64%,
// 	hsl(36 20% 66%) 71%,
// 	hsl(40 36% 72%) 79%,
// 	hsl(43 52% 78%) 86%,
// 	hsl(47 68% 84%) 93%,
// 	hsl(50 84% 90%) 100%
// );
