// WELCOME SECTION
.intro {
	width: 95vw;
	justify-content: center;
	margin: auto;
	border-radius: 1rem;
	display: flex;
	flex-direction: row;

	&__greeting {
		// flex-grow: 1;
		width: 50%;
		height: 100%;
	}

	&__paragraphs {
		// flex-grow: 1;
		width: 50%;
	}

	// @include respond(tab-port) {
	// 	height: 60vh;
	// 	border-radius: 0;
	// }

	// @include respond(phone) {
	// 	height: 40vh;
	// 	border-radius: 0;
	// }
}

// Class added to scroll-label to fade upon scroll
.fade {
	color: transparent;
}

.cursor {
	border-right: 0.3rem solid #777;
}
