.logviewer {
	display: flex;
	flex-direction: column;
	font-size: 1.75rem;
	line-height: 150%;
	padding: 10rem 25rem 0 25rem;

	&__header {
		text-align: center;
		margin: 5rem 0;
	}

	&__image {
		&--screenshot {
			max-width: 60vw;
			margin: 5rem auto;
			box-shadow: $image-shadow;
		}
		&--figma {
			max-width: 30vw;
			margin: 3rem;
			box-shadow: $image-shadow;
		}

		&--flowchart {
			max-width: 30vw;
			margin: 3rem;
			object-fit: contain;
			scale: 1;
			box-shadow: $image-shadow;
		}
	}
}

.section {
	&__tools {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 5rem 0;

		&--content {
			display: flex;
			flex-direction: column;
		}
	}

	&__middle {
		display: flex;
		flex-direction: row;
		align-items: center;

		&--text {
			margin: 2rem 3rem;
		}
	}

	&__learned {
		margin: 5rem 10rem;
	}
}

h4 {
	font-weight: bold;
}

.disclaimer {
	font-size: 1rem;
	margin-top: 3rem;
}
